{{define "login-error"}}
<form hx-post="/login" hx-swap="outerHTML" hx-target="this">
  <label>Email</label>
  <input type="email" name="email" />

  <label>Password</label>
  <input type="password" name="password" />
  <input type="submit" value="Sign in" />

  <div style="padding: 10px; background-color: red">Invalid credentials!</div>
</form>
{{end}} {{define "register-error"}}
<form
  hx-post="/register"
  hx-swap="outerHTML"
  hx-target="this"
  enctype="multipart/form-data"
>
  <label>Email</label>
  <input type="email" name="email" />

  <label>Password</label>
  <input type="password" name="password" />

  <label>Confirm Password</label>
  <input type="password" name="passwordConfirm" />
  <input type="submit" value="Sign Up" />

  <div style="padding: 10px; background-color: red">{{ .Error }}</div>
</form>

{{end}}
