# go air live reload stuff
tmp/
build-errors.log

# the binary and it's requirements
otterkin-web
pb_data/

# compiled templ
*_templ.go
*_templ.txt

# compiled js and css
static/*.map
static/*.css
static/*.js
static/build/*.css
static/build/*.js

# any js malarkey
node_modules/

# env vars
.env
