/* from other files */
@import "./popups.css";
@import "./layout.css";
@import "./registration.css";
@import "./typography.css";
@import "./homepage.css";
@import "./tables.css";

/* important for the box model */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* variables */
html {
    /* colour palette */
    --bg: #faf9f4;

    --fg-lighter: #3e5459;
    --fg: #0e292f;
    --fg-darker: #0b2126;

    --gold-lighter: #d7c59d;
    --gold: #cdb684;
    --gold-darker: #a4926a;

    --pink-lighter: #ffded9;
    --pink: #ffd6d0;
    --pink-darker: #ccaba6;

    --grey-200: #e9e6dd;
    --grey-300: #c5bdaa;
    --grey-800: #43474a;

    /* spacing */
    --semibreve: 32px;
    --minim-dotted: 24px;
    --minim: 16px;
    --crotchet: 8px;
    --quaver: 4px;
    --semiquaver: 2px;

    /* key sizes */
    --header-height: 60px;
}
