/* User options/settings */
.dashboard-avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid var(--grey-800);
}

.dashboard-title {
  margin-top: var(--minim);
}

.dashboard-subtitle {
  font-family: var(--font-sans);
  margin-bottom: var(--crotchet);
}

.dashboard-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: var(--semibreve) 0;
}

.user-details {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--semibreve);
}

.avatar-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--crotchet);
}

.details-edit {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--crotchet);

  input[type="submit"] {
    margin-top: auto;
    align-self: end;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

/* avatar modal */
.not-visible {
  display: none;
}

/* inputs */
.text-input {
  width: min(100%, 320px);
  padding: var(--crotchet) var(--minim);
  border-radius: var(--crotchet);
  border: 1px solid var(--grey-200);
  outline: none;
  background-color: var(--bg);

  font-family: var(--font-sans);
  font-size: 1rem;
  color: var(--fg);

  &:focus-within {
    border-color: var(--grey-800);
  }
}

.textarea-input {
  resize: none;
  width: min(100%, 320px);
  padding: var(--crotchet) var(--minim);
  border-radius: var(--crotchet);
  border: 1px solid var(--grey-200);
  outline: none;
  background-color: var(--bg);

  font-family: var(--font-sans);
  font-size: 1rem;
  color: var(--fg);

  &:focus-within {
    border-color: var(--grey-800);
  }
}

.avatar-input {
  display: block;
  width: 100%;
  border-top: 2px solid var(--gold);
  border-bottom: 2px solid var(--gold);
  padding: var(--quaver) 0;
  margin-bottom: var(--minim);

  font-family: var(--font-sans);
  font-size: 1rem;
  color: var(--fg);

  &::file-selector-button {
    padding: var(--crotchet) var(--minim);
    background-color: var(--pink);
    border: none;
    border-radius: var(--crotchet);
    line-height: 1;
    color: var(--grey-800);
    cursor: pointer;
  }
  &::file-selector-button:hover {
    background-color: var(--pink-darker);
  }
  &::file-selector-button:active {
    background-color: var(--pink-lighter);
  }
}

#placeholder {
  display: flex;
  justify-content: center;
  font-family: var(--font-sans);
  font-size: 1rem;
  color: var(--gold-darker);
  padding: var(--minim);
}

#placeholder.not-visible {
  display: none;
}

/* buttons */
.button {
  min-width: 72px;
  width: max-content;
  display: flex;
  justify-content: center;
  padding: var(--crotchet) var(--minim);
  border-radius: var(--crotchet);
  font-family: var(--font-sans);
  line-height: 1;
  font-size: 1rem;
  color: var(--grey-800);
  cursor: pointer;
}

.button.soft {
  border: none;
  background-color: var(--pink);
  &:hover {
    background-color: var(--pink-darker);
  }
  &:active {
    background-color: var(--pink-lighter);
  }
}

.button.subtle {
  border: none;
  background-color: var(--grey-200);
  &:hover {
    background-color: var(--grey-300);
  }
  &:active {
    background-color: var(--grey-400);
  }
}

.button.text {
  border: none;
  background-color: var(--bg);
  &:hover {
    background-color: var(--pink-lighter);
  }

  &:active {
    background-color: var(--pink);
  }
}

.button.primary {
  border: none;
  background-color: var(--gold);
  color: var(--bg);
  &:hover {
    background-color: var(--gold-darker);
  }
}

.button.disabled {
  cursor: default;
  background-color: var(--grey-200);
  color: var(--grey-400);
  &:hover,
  &:active {
    background-color: var(--grey-200) !important;
  }
}
