/* toggle button stuff */
.toggle-button-wrapper {
  display: flex;
  align-items: center;
  gap: var(--crotchet);
}

.toggle-checkbox {
  display: none;
}

.toggle-button {
  height: 20px;
  width: 40px;
  border-radius: 10px;
  background-color: var(--bg);
  border: 1px solid var(--fg);
  cursor: pointer;

  display: flex;
  align-items: center;
  padding: 0 1px;
}

.toggle-button::before {
  display: block;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--fg-lighter);
  transform: translateX(20px);
  transition: all 0.25s ease-in-out;
}

.toggle-button[data-toggle-btn-off]::before {
  transform: translateX(0px);
  background-color: var(--grey-300);
}
