/* hero */
.hero {
  height: calc(100vh - var(--header-height));
  width: 100%;
  background: url("/images/liberty-leading-the-people.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 5%;
}
.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: var(--semibreve) max(5vw, var(--minim));
}
.hero-text {
  width: min(100%, 800px);
  color: var(--bg);
  font-size: clamp(1.8rem, 8vw, 4.5rem);
  line-height: 1.1;
  letter-spacing: 0.035em;
}
.cta-button {
  margin-top: auto;
  display: inline-flex;
  align-items: center;
  gap: var(--crotchet);
  padding: var(--crotchet) var(--minim);
  border-radius: var(--crotchet);
  border: 2px solid var(--gold);
  cursor: pointer;
  background-color: rgb(from var(--gold) r g b / 0.3);

  font-family: var(--font-serif);
  font-size: clamp(1.2rem, 4vw, 1.75rem);
  color: var(--bg);
  font-weight: bold;

  i {
    color: var(--gold);
    font-size: 2rem;
  }

  &:hover {
    background-color: rgb(from var(--gold) r g b / 0.6);
  }
}
