header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: var(--fg);
    padding: 0 var(--semibreve);
    border-bottom: var(--quaver) solid var(--bg);

    nav {
        margin-left: auto;
        ul {
            display: flex;
            flex-direction: row;
            padding: 0;
            list-style: none;
            gap: 16px;
            li a {
                color: var(--gold);
                font-family: var(--font-sans);
                text-decoration: none;
            }
        }
    }

    .logo {
        width: clamp(150px, 20vw, 200px);
    }
}

body {
    background-color: var(--bg);
    margin: 0;
}

main {
    grid-area: main;
}

.left-sidebar {
    grid-area: left-sidebar;
}

.grid-wrapper {
    margin: auto;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-areas: "left-sidebar main right-sidebar";
    width: min(1200px, 90%);
}
