<!doctype html>
<html lang="en_gb">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/build/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/build/app.css" />
    <title>{{template "title" .}}</title>
  </head>
  <body>
    <main>
      {{template "body" .}}
    </main>
    {{template "flash-messages" .}}
  </body>
</html>

{{define "flash-messages"}}
  {{range $key, $value := .Flash}}
    {{if ne $value ""}}
    <div class="{{$key}} flash">
      {{$value}}
      <button class="flash-close" onclick="hideFlash('{{$key}}')"></button>
    </div>
    {{end}}
  {{end}}
{{end}}
