{{define "title"}}Otterkin{{end}} 

{{define "body" }}
<nav>
  <div class="home-link">
    <a href="/">home</a>
  </div>
  <div>
    <a href="/auth/register">signup</a>
    <a href="/auth/login">login</a>
  </div>
</nav>

<h1>Sign up</h1>

<button hx-get="/auth/register/patron" hx-target=".form-register" hx-swap="outerHTML">Patron</button>
<button hx-get="/auth/register/artist" hx-target=".form-register" hx-swap="outerHTML">Artist</button>

{{template "register-patron" .}} 
{{end}} 

{{define "register-patron"}}
<form hx-post="/auth/register/patron" class="form-register">
  <h2>Patron registration</h2>

  <label>Email</label>
  <input type="email" name="email" />

  <label>Password</label>
  <input type="password" name="password" />

  <label>Confirm Password</label>
  <input type="password" name="passwordConfirm" />
  <input type="submit" value="Sign Up" />
</form>
{{end}}

<!-- other templates for use in htmx endpoints -->
{{define "register-artist"}}
<form hx-post="/auth/register/artist" class="form-register">
  <h2>Artist registration</h2>

  <label>Name</label>
  <input type="text" name="email" />

  <label>Email</label>
  <input type="email" name="email" />

  <label>Password</label>
  <input type="password" name="password" />

  <label>Confirm Password</label>
  <input type="password" name="passwordConfirm" />
  <input type="submit" value="Sign Up" />
</form>
{{end}}
