@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital@0;1&display=swap";
@import "https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap";

/* assets/css/layout.css */
header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  background-color: var(--fg);
  padding: 0 var(--semibreve);
  nav {
    margin-left: auto;
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;
      list-style: none;
      gap: var(--crotchet);
      li a {
        color: var(--gold);
        font-family: var(--font-sans);
        text-decoration: none;
      }
    }
  }
  #logo-link {
    height: 100%;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    &:hover {
      cursor: pointer;
      background-color: var(--fg-darker);
    }
  }
  .logo {
    width: clamp(150px, 20vw, 200px);
  }
  .account-button,
  .home-button {
    background: none;
    height: 40px;
    width: 40px;
    color: var(--gold);
    font-size: 28px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
      background-color: var(--fg-darker);
    }
  }
  .account-button {
    font-size: 24px;
  }
}
@media (min-width: 601px) {
  div[data-hb-menu] {
    display: none;
  }
}
@media (max-width: 600px) {
  header nav ul {
    display: none;
  }
}
body {
  background-color: var(--bg);
  margin: 0;
}
main {
  grid-area: main;
}
#left-sidebar {
  grid-area: left-sidebar;
  max-width: 200px;
}
.grid-wrapper {
  margin: auto;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-areas: "left-sidebar main right-sidebar";
  column-gap: var(--minim);
  width: min(1200px, 90%);
}
@media (600px < width <= 1200px) {
  .grid-wrapper {
    grid-template-columns: minmax(0, auto) 1fr 0px;
  }
}
@media (max-width: 600px) {
  .grid-wrapper {
    grid-template-columns: 0px 1fr 0px;
    div#left-sidebar,
    & > .dashboard-sidebar {
      display: none;
    }
  }
}
.dashboard-sidebar {
  position: sticky;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: start;
  &::before {
    display: block;
    content: "";
    flex-grow: 1;
  }
  &::after {
    display: block;
    content: "";
    flex-grow: 2;
  }
  ul {
    border-right: 2px solid var(--grey-300);
    padding-right: var(--quaver);
    padding-top: var(--crotchet);
    padding-bottom: var(--crotchet);
    display: flex;
    flex-direction: column;
    gap: var(--crotchet);
    list-style-type: none;
  }
  ul:last-child {
    padding-bottom: var(--semibreve);
  }
  ul:first-child {
    padding-top: var(--minim);
  }
  ul li a {
    color: var(--fg);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: var(--quaver);
    background-color: var(--bg);
    padding: var(--crotchet);
    border-radius: var(--crotchet);
    &:hover {
      background-color: var(--grey-200);
    }
    &:active {
      background-color: var(--grey-300);
    }
    &.current-page {
      color: var(--gold);
      &:hover,
      &:active {
        background-color: var(--bg);
        cursor: default;
      }
    }
  }
}

/* assets/css/images.css */
.image-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: auto;
  gap: var(--crotchet);
}
.image-wrapper-square {
  aspect-ratio: 1 / 1;
  width: 100%;
  overflow: hidden;
  & > img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
.image-wrapper-fullsize {
  height: 100%;
  width: 100%;
  & > img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: contain;
  }
}
.image-placeholder {
  background-color: var(--grey-200);
  height: 100%;
  width: 100%;
}
.editable-image-button {
  background: none;
  border: none;
  padding: none;
  cursor: pointer;
}

/* assets/css/popups.css */
.hamburger {
  height: 40px;
  width: 40px;
  margin-right: -8px;
  border-radius: 50%;
  background: none;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  transition: background-color 0s;
  &:hover,
  &:active {
    background-color: var(--fg-darker);
  }
}
.hamburger-patty {
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--gold);
  transition: all 0.25s ease-in-out;
  transform: translateX(2px);
}
.hamburger-patty::before,
.hamburger-patty::after {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--gold);
  transition: all 0.25s ease-in-out;
}
.hamburger-patty::before {
  transform: translateY(-10px) translateX(-4px);
}
.hamburger-patty::after {
  transform: translateY(8px) translateX(-4px);
}
.hamburger[data-hb-open] {
  .hamburger-patty {
    transform: translateX(-24px);
    background: transparent;
  }
  .hamburger-patty::before {
    transform: rotate(45deg) translate(16.5px, -15px);
    width: 24px;
  }
  .hamburger-patty::after {
    transform: rotate(-45deg) translate(16.5px, 15px);
    width: 24px;
  }
}
.hamburger-menu {
  position: fixed;
  top: var(--header-height);
  left: 0;
  height: calc(100vh - var(--header-height));
  width: 100vw;
  background-color: var(--fg);
  border-top: 1px solid var(--gold);
  transition: all 0.25s ease-in-out;
  &[hidden] {
    transform: translateX(100vw);
  }
  display: flex;
  flex-direction: column;
}
.hamburger-menu {
  transform: translateX(calc(100vw - 100%));
}
.hamburger-subtitle {
  padding: 0 var(--crotchet);
  color: var(--gold);
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--quaver);
  margin: var(--quaver) 0;
  line-height: 1;
  &::before {
    content: "";
    display: block;
    height: 0;
    width: var(--semibreve);
    padding-top: var(--quaver);
    border-bottom: 1px solid var(--gold);
  }
  &::after {
    content: "";
    display: block;
    height: 0;
    padding-top: var(--quaver);
    border-bottom: 1px solid var(--gold);
    flex-grow: 1;
  }
}
.hamburger-menu-li {
  width: 100%;
  padding: 0 var(--minim-dotted);
}
.hamburger-menu-li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--crotchet);
  font-size: 1.25rem;
  line-height: 1;
  padding: var(--minim) var(--crotchet);
  border-radius: var(--crotchet);
  color: var(--gold);
  text-decoration: none;
  background-color: var(--fg);
  cursor: pointer;
  &:hover {
    background-color: var(--fg-darker);
  }
  &:active {
    background-color: var(--fg-lighter);
    color: var(--gold-darker);
  }
  i {
    flex-shrink: 0;
  }
}
.hamburger-menu-li > a.current-page {
  background-color: var(--fg-lighter);
  cursor: default;
}
#flash-container {
  position: fixed;
  right: 16px;
  bottom: 16px;
  display: flex;
  flex-direction: column-reverse;
}
.flash {
  padding: var(--crotchet);
  min-width: 64px;
  max-width: 250px;
  color: white;
  margin-top: var(--quaver);
  font-family: var(--font-sans);
  font-size: 1rem;
  color: var(--bg);
  display: flex;
  justify-content: space-between;
  gap: 16px;
  animation-name: zoomIn;
  animation-duration: 150ms;
  animation-timing-function: ease;
}
.flash.info {
  background-color: green;
  .flash-close {
    background-color: green;
    &:hover {
      background-color: darkgreen;
    }
  }
}
.flash.error {
  background-color: red;
  .flash-close {
    background-color: red;
    &:hover {
      background-color: darkred;
    }
  }
}
.flash .flash-close {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  position: relative;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  &::after,
  &::before {
    content: " ";
    display: block;
    height: 16px;
    width: 2px;
    background-color: white;
    position: absolute;
    left: 11px;
    top: 4px;
  }
  &:after {
    transform: rotate(45deg);
  }
  &:before {
    transform: rotate(-45deg);
  }
}
.flash[hidden] {
  animation-name: zoomOut;
  animation-duration: 150ms;
  animation-timing-function: ease;
}
#modal {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: fadeIn;
  animation-duration: 150ms;
  animation-timing-function: ease;
}
#modal > .modal-underlay {
  position: absolute;
  z-index: -1;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#modal > .modal-content {
  margin-top: 10vh;
  width: min(100vw, 600px);
  max-height: 80vh;
  overflow-y: scroll;
  border-radius: var(--crotchet);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  background-color: var(--bg);
  padding: var(--minim);
  animation-name: zoomIn;
  animation-duration: 150ms;
  animation-timing-function: ease;
}
#modal[hidden] {
  animation-name: fadeOut;
  animation-duration: 150ms;
  animation-timing-function: ease;
}
#modal[hidden] > .modal-content {
  animation-name: zoomOut;
  animation-duration: 150ms;
  animation-timing-function: ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
.modal-bottom {
  width: 100%;
  padding-top: var(--minim);
  display: flex;
  justify-content: space-between;
}

/* assets/css/tables.css */
table {
  width: 100%;
  border-collapse: collapse;
}

/* assets/css/typography.css */
html {
  --font-serif: "Playfair Display", serif;
  --font-serif-fc: "Playfair Display SC", serif;
  --font-sans: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--fg);
  max-width: var(--text-maxwidth);
}
h1 {
  font-family: var(--font-serif);
  font-weight: 400;
  font-size: 2rem;
}
h2 {
  font-family: var(--font-serif);
  font-weight: 400;
  font-size: 1.8rem;
}
h3 {
  font-family: var(--font-serif);
  font-weight: 400;
  font-size: 1.5rem;
}
p,
a,
li,
label,
input,
textarea {
  font-family: var(--font-sans);
}

/* assets/css/form.css */
.toggle-button-wrapper {
  display: flex;
  align-items: center;
  gap: var(--crotchet);
}
.toggle-checkbox {
  display: none;
}
.toggle-button {
  height: 20px;
  width: 40px;
  border-radius: 10px;
  background-color: var(--bg);
  border: 1px solid var(--fg);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 1px;
}
.toggle-button::before {
  display: block;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--fg-lighter);
  transform: translateX(20px);
  transition: all 0.25s ease-in-out;
}
.toggle-button[data-toggle-btn-off]::before {
  transform: translateX(0px);
  background-color: var(--grey-300);
}

/* assets/css/registration.css */
.registration-wrapper {
  margin-top: var(--minim);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registration-wrapper .greeting {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 1rem;
  align-self: start;
  margin: 0;
  color: var(--grey-800);
}
.registration-selection {
  display: flex;
  width: auto;
  gap: var(--quaver);
  flex-wrap: wrap;
  justify-content: center;
  button {
    padding: var(--crotchet);
    font-family: var(--font-sans);
    font-size: 1rem;
    width: 120px;
    border: none;
    border-radius: var(--crotchet);
    background-color: var(--bg);
    color: var(--grey-300);
    &.selected {
      background-color: var(--grey-200);
      color: var(--grey-800);
      &:hover {
        background-color: var(--grey-200);
        cursor: default;
      }
    }
    &:hover {
      background-color: var(--grey-300);
      color: var(--grey-800);
      cursor: pointer;
    }
  }
}
.registration-selection a {
  font-family: var(--font-sans);
  text-decoration: none;
  font-size: 1rem;
  color: var(--grey-800);
  width: 120px;
  padding: var(--crotchet);
  background-color: var(--pink);
  border-radius: var(--crotchet);
  display: flex;
  justify-content: center;
  &:hover {
    background-color: var(--pink-darker);
  }
  &:active {
    background-color: var(--pink-lighter);
  }
}
.registration-header {
  color: var(--gold);
  font-family: var(--font-serif);
  font-size: 1.5rem;
  margin-bottom: var(--minim);
}
.form-register,
.form-login {
  margin-top: var(--minim);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--crotchet);
  width: min(280px, 100%);
  padding-bottom: var(--semibreve);
  .text-field {
    max-width: 100%;
    border: 1px solid var(--grey-300);
    border-radius: var(--crotchet);
    background-color: var(--bg);
    padding: var(--crotchet);
    display: flex;
    align-items: center;
    gap: var(--crotchet);
    &:focus-within {
      border-color: var(--grey-800);
    }
    i {
      color: var(--gold);
      font-size: 24px;
    }
    textarea {
      resize: none;
      flex-grow: 1;
      font-family: var(--font-sans);
      font-size: 0.9rem;
      color: var(--fg);
      background-color: var(--bg);
      border: none;
      outline: none;
    }
    input {
      flex-grow: 1;
      font-size: 0.9rem;
      color: var(--fg);
      border: none;
      outline: none;
      background-color: var(--bg);
      font-family: var(--font-sans);
    }
  }
  input[type=submit] {
    margin-top: var(--minim);
    padding: var(--crotchet);
    font-family: var(--font-serif);
    font-size: 1rem;
    background-color: var(--bg);
    box-shadow: none;
    color: var(--gold);
    border: 1px solid var(--gold);
    border-radius: var(--quaver);
    &:hover {
      background-color: var(--pink);
      border: 1px solid var(--pink);
      color: var(--bg);
      cursor: pointer;
    }
  }
  .form-error-wrapper {
    background-color: var(--pink);
    border-radius: var(--crotchet);
    width: 100%;
  }
  .error-message {
    padding: var(--crotchet);
    margin: 0;
    color: var(--grey-800);
    font-family: var(--font-sans);
    font-size: 0.8rem;
  }
}

/* assets/css/dashboard.css */
.dashboard-avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid var(--grey-800);
}
.dashboard-title {
  margin-top: var(--minim);
}
.dashboard-subtitle {
  font-family: var(--font-sans);
  margin-bottom: var(--crotchet);
  align-self: start;
  text-align: left;
}
.dashboard-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--semibreve) 0;
}
.column-form {
  width: min(320px, 100%);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--crotchet);
}
.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 0.9rem;
}
.image-preview {
  border-radius: var(--quaver);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.not-visible {
  display: none;
}
.avatar-placeholder {
  display: flex;
  justify-content: center;
  font-family: var(--font-sans);
  font-size: 1rem;
  color: var(--gold-darker);
  padding: var(--minim);
}
.avatar-placeholder[hidden] {
  display: none;
}
.text-input {
  width: min(100%, 320px);
  padding: var(--crotchet) var(--minim);
  border-radius: var(--crotchet);
  border: 1px solid var(--grey-200);
  outline: none;
  background-color: var(--bg);
  font-family: var(--font-sans);
  font-size: 1rem;
  color: var(--fg);
  &:focus-within {
    border-color: var(--grey-800);
  }
}
.textarea-input {
  resize: none;
  width: min(100%, 320px);
  padding: var(--crotchet) var(--minim);
  border-radius: var(--crotchet);
  border: 1px solid var(--grey-200);
  outline: none;
  background-color: var(--bg);
  font-family: var(--font-sans);
  font-size: 1rem;
  color: var(--fg);
  &:focus-within {
    border-color: var(--grey-800);
  }
}
.file-input,
.avatar-input {
  display: block;
  padding: var(--quaver) 0;
  font-family: var(--font-sans);
  font-size: 1rem;
  color: var(--fg);
  &::file-selector-button {
    padding: var(--crotchet) var(--minim);
    background-color: var(--pink);
    border: none;
    border-radius: var(--crotchet);
    line-height: 1;
    font-family: var(--sans);
    color: var(--grey-800);
    cursor: pointer;
  }
  &::file-selector-button:hover {
    background-color: var(--pink-darker);
  }
  &::file-selector-button:active {
    background-color: var(--pink-lighter);
  }
}
.avatar-input {
  width: 100%;
  border-top: 2px solid var(--gold);
  border-bottom: 2px solid var(--gold);
  margin-bottom: var(--minim);
}
.button {
  min-width: 72px;
  width: max-content;
  display: flex;
  justify-content: center;
  padding: var(--crotchet) var(--minim);
  border-radius: var(--crotchet);
  font-family: var(--font-sans);
  line-height: 1;
  font-size: 1rem;
  color: var(--grey-800);
  cursor: pointer;
  text-decoration: none;
}
.button.soft {
  border: none;
  background-color: var(--pink);
  &:hover {
    background-color: var(--pink-darker);
  }
  &:active {
    background-color: var(--pink-lighter);
  }
}
.button.subtle {
  border: none;
  background-color: var(--grey-200);
  &:hover {
    background-color: var(--grey-300);
  }
  &:active {
    background-color: var(--grey-400);
  }
}
.button.text {
  border: none;
  background-color: var(--bg);
  &:hover {
    background-color: var(--pink-lighter);
  }
  &:active {
    background-color: var(--pink);
  }
}
.button.outline {
  border: 1px solid var(--gold);
  background: none;
  color: var(--gold);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: var(--font-serif);
  &:hover {
    background-color: rgb(from var(--gold) r g b / 0.3);
  }
  &:active {
    background-color: rgb(from var(--gold) r g b / 0.6);
  }
}
.button.primary {
  border: none;
  background-color: var(--gold);
  color: var(--bg);
  &:hover {
    background-color: var(--gold-darker);
  }
}
.button.disabled {
  cursor: default;
  background-color: var(--grey-200);
  color: var(--grey-400);
  &:hover,
  &:active {
    background-color: var(--grey-200) !important;
  }
}

/* assets/css/homepage.css */
.hero {
  height: calc(100vh - var(--header-height));
  width: 100%;
  background: url(/images/liberty-leading-the-people.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 5%;
  background-color: rgb(from var(--fg) r g b / 0.5);
}
.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: calc(100px - clamp(0px, 10vw, 68px));
  padding-bottom: calc(200px - clamp(0px, 20vw, 168px));
  padding-left: max(5vw, var(--minim));
  padding-right: max(5vw, var(--minim));
}
.hero-text {
  width: clamp(min(100%, 320px), 60vw, 800px);
  color: var(--bg);
  font-size: clamp(2rem, 6vw, 4.5rem);
  line-height: 1.1;
  letter-spacing: 0.035em;
}
.cta-button {
  text-decoration: none;
  margin-top: auto;
  display: inline-flex;
  align-items: center;
  gap: var(--crotchet);
  padding: var(--crotchet) var(--minim);
  border-radius: var(--crotchet);
  border: 2px solid var(--gold);
  cursor: pointer;
  background-color: rgb(from var(--gold) r g b / 0.3);
  font-family: var(--font-serif);
  font-size: clamp(1.2rem, 4vw, 1.75rem);
  color: var(--bg);
  font-weight: bold;
  i {
    color: var(--gold);
    font-size: 2rem;
  }
  &:hover {
    background-color: rgb(from var(--gold) r g b / 0.6);
  }
}
.info-banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: var(--minim);
  padding: var(--semibreve) var(--semibreve);
}
@media (800px < width <= 1100px) {
  .info-banner {
    grid-template-columns: 1fr 1fr;
  }
}
.info-block {
  max-height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--crotchet);
}
.info-img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
  flex-shrink: 0;
  &.placeholder {
    width: 120px;
    height: 120px;
    border: 2px solid var(--gold);
  }
}
.info-text {
  font-size: 1.25rem;
  font-family: var(--font-serif);
  color: var(--gold);
}
.homepage-artist-section {
  padding: var(--semibreve);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage-subtitle {
  text-transform: uppercase;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}
.homepage-artist-grid {
  width: 100%;
  margin: var(--semibreve) 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 1fr;
  grid-auto-rows: 0;
  overflow: hidden;
  column-gap: var(--minim);
}
.homepage-artist-card {
  height: 400px;
  width: 100%;
  border: 2px solid var(--gold);
}
.homepage-hullo-section {
  padding: var(--semibreve);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.mr-otterkin-container {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.mr-otterkin-img {
  width: min(calc(100vw - 2 * var(--semibreve)), 360px);
  aspect-ratio: 1 / 1.4;
  object-fit: cover;
  object-position: right center;
  border-radius: var(--semibreve);
}
.homepage-hullo-text {
  flex: 500px 4 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage-hullo-heading {
  text-transform: uppercase;
  text-shadow: 4px 4px 0px var(--grey-400);
  text-align: center;
  font-size: clamp(4rem, 8vw, 9rem);
  font-style: italic;
  & > span {
    color: var(--pink);
  }
}
.homepage-hullo-greeting {
  font-style: italic;
  font-size: 1.5rem;
  font-family: var(--font-serif);
  text-align: center;
  width: min(500px, 100%);
}
.signature-wrapper {
  margin-top: var(--minim);
  max-width: 150px;
}
.homepage-hullo-signature {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.otterkin-spotlight {
  background-color: var(--fg);
  padding: var(--semibreve);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--semibreve);
  & > a {
    align-self: end;
    margin-left: auto;
  }
}
.otterkin-spotlight-portrait-wrapper {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.otterkin-spotlight-portrait {
  width: min(calc(100vw - 2 * var(--semibreve)), 360px);
  aspect-ratio: 1 / 1.4;
  object-fit: cover;
  object-position: center center;
  border-radius: var(--semibreve);
  &[src=""] {
    border: 2px solid var(--gold);
    background-color: var(--pink);
  }
}
.otterkin-spotlight-details {
  flex: 500px 2 1;
}
.otterkin-spotlight-label {
  font-size: 1.5rem;
  font-family: var(--font-sans);
  color: var(--gold);
  font-weight: 700;
  letter-spacing: 0.035em;
}
.otterkin-spotlight-name {
  font-size: clamp(2rem, 8vw, 7rem);
  line-height: 0.9;
  color: var(--bg);
}
.otterkin-spotlight-description {
  margin-top: var(--minim);
  color: var(--bg);
}
.commission-button {
  padding: var(--crotchet) var(--minim);
  border-radius: var(--crotchet);
  display: inline-flex;
  align-items: center;
  gap: var(--crotchet);
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--gold);
  border: 1px solid var(--gold);
  &:hover {
    background-color: rgb(from var(--gold) r g b / 0.3);
  }
  &:active {
    background-color: rgb(from var(--gold) r g b / 0.6);
  }
}
.homepage-story-section {
  padding: var(--semibreve);
  background: url(/images/crumpled-paper.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  background-color: var(--pink);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage-story-heading {
  font-size: clamp(2rem, 7vw, 6rem);
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  margin-bottom: var(--semibreve);
  & > span.tag {
    font-family: var(--font-sans);
    font-size: clamp(1.25rem, 4vw, 2.5rem);
    font-weight: bold;
    letter-spacing: 0.035em;
    margin-top: var(--minim);
    display: block;
  }
}
.homepage-story {
  line-height: 1.35;
  margin: var(--crotchet) 0;
  font-size: 1.2rem;
}
.homepage-guild-section {
  padding: var(--semibreve);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage-guild-description {
  line-height: 1.35;
  margin: var(--crotchet) 0;
  font-size: 1.2rem;
}
.button.guild-signup {
  margin: var(--minim) 0;
}
.homepage-guild-legal {
  font-size: 0.8rem;
  line-height: 1.35;
  margin: var(--crotchet) 0;
}
.logoo-wrapper {
  max-width: 150px;
}
.homepage-guild-o {
  margin-top: var(--semibreve);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* assets/css/croppie.css */
.croppie-container {
  width: 100%;
  height: 100%;
}
.croppie-container .cr-image {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  max-height: none;
  max-width: none;
}
.croppie-container .cr-boundary {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.croppie-container .cr-resizer,
.croppie-container .cr-viewport {
  position: absolute;
  border: 2px solid #fff;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.croppie-container .cr-resizer {
  z-index: 2;
  box-shadow: none;
  pointer-events: none;
}
.croppie-container .cr-resizer-horisontal,
.croppie-container .cr-resizer-vertical {
  position: absolute;
  pointer-events: all;
}
.croppie-container .cr-resizer-horisontal::after,
.croppie-container .cr-resizer-vertical::after {
  display: block;
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #000;
  background: #fff;
  width: 10px;
  height: 10px;
  content: "";
}
.croppie-container .cr-resizer-vertical {
  bottom: -5px;
  cursor: row-resize;
  width: 100%;
  height: 10px;
}
.croppie-container .cr-resizer-vertical::after {
  left: 50%;
  margin-left: -5px;
}
.croppie-container .cr-resizer-horisontal {
  right: -5px;
  cursor: col-resize;
  width: 10px;
  height: 100%;
}
.croppie-container .cr-resizer-horisontal::after {
  top: 50%;
  margin-top: -5px;
}
.croppie-container .cr-original-image {
  display: none;
}
.croppie-container .cr-vp-circle {
  border-radius: 50%;
}
.croppie-container .cr-overlay {
  z-index: 1;
  position: absolute;
  cursor: move;
  touch-action: none;
}
.croppie-container .cr-slider-wrap {
  width: 75%;
  margin: 15px auto;
  text-align: center;
}
.croppie-result {
  position: relative;
  overflow: hidden;
}
.croppie-result img {
  position: absolute;
}
.croppie-container .cr-image,
.croppie-container .cr-overlay,
.croppie-container .cr-viewport {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.cr-slider {
  -webkit-appearance: none;
  width: 300px;
  max-width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: transparent;
}
.cr-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 3px;
}
.cr-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ddd;
  margin-top: -6px;
}
.cr-slider:focus {
  outline: 0;
}
.cr-slider::-moz-range-track {
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 3px;
}
.cr-slider::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ddd;
  margin-top: -6px;
}
.cr-slider:-moz-focusring {
  outline: 1px solid #fff;
  outline-offset: -1px;
}
.cr-slider::-ms-track {
  width: 100%;
  height: 5px;
  background: 0 0;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}
.cr-slider::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.cr-slider::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.cr-slider::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ddd;
  margin-top: 1px;
}
.cr-slider:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.5);
}
.cr-slider:focus::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.5);
}
.cr-rotate-controls {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 1;
}
.cr-rotate-controls button {
  border: 0;
  background: 0 0;
}
.cr-rotate-controls i:before {
  display: inline-block;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
}
.cr-rotate-l i:before {
  content: "\21ba";
}
.cr-rotate-r i:before {
  content: "\21bb";
}

/* assets/css/app.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
html {
  --bg: #faf9f4;
  --fg-lighter: #3e5459;
  --fg: #0e292f;
  --fg-darker: #0b2126;
  --gold-lighter: #d7c59d;
  --gold: #cdb684;
  --gold-darker: #a4926a;
  --pink-lighter: #ffded9;
  --pink: #ffd6d0;
  --pink-darker: #ccaba6;
  --grey-200: #e9e6dd;
  --grey-300: #c5bdaa;
  --grey-400: #9e9788;
  --grey-800: #43474a;
  --semibreve: 32px;
  --minim-dotted: 24px;
  --minim: 16px;
  --crotchet: 8px;
  --quaver: 4px;
  --semiquaver: 2px;
  --header-height: 60px;
  --text-maxwidth: 60ch;
}
/*# sourceMappingURL=app.css.map */
