/* from other files */

/* global */
@import "./layout.css";
@import "./images.css";
@import "./popups.css";
@import "./tables.css";
@import "./typography.css";
@import "./form.css";

/* page specific */
@import "./registration.css";
@import "./dashboard.css";
@import "./homepage.css";
@import "./artistpage.css";

/* vendored */
@import "./vendored/croppie.css";

/* important for the box model */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* other key things */
html {
  scroll-behavior: smooth;
}

/* variables */
html {
  /* colour palette */
  --bg: #faf9f4;

  --fg-lighter: #3e5459;
  --fg: #0e292f;
  --fg-darker: #0b2126;

  --gold-lighter: #d7c59d;
  --gold: #cdb684;
  --gold-darker: #a4926a;

  --pink-lighter: #ffded9;
  --pink: #ffd6d0;
  --pink-darker: #ccaba6;

  --grey-100: #eeece4;
  --grey-200: #e9e6dd;
  --grey-300: #c5bdaa;
  --grey-400: #9e9788;
  --grey-800: #43474a;

  /* spacing */
  --breve: 64px;
  --semibreve: 32px;
  --minim-dotted: 24px;
  --minim: 16px;
  --crotchet: 8px;
  --quaver: 4px;
  --semiquaver: 2px;

  /* key sizes */
  --header-height: 60px;
  --text-maxwidth: 60ch;
}
