/* User options/settings */
.dashboard-grid-wrapper {
  display: grid;
  padding: var(--minim);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: min-content;
  column-gap: var(--crotchet);
  row-gap: var(--semibreve);
}

.dashboard-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--quaver);

  &.fw {
    grid-column: 1 / -1;
  }
}

.dashboard-form-section {
  display: flex;
  padding: var(--minim) 0;

  & > h2.profile-form-subtitle {
    font-family: var(--font-serif-sc);
    color: var(--gold);
    writing-mode: vertical-rl;
    text-orientation: sideways;
  }
}

.dashboard-avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid var(--grey-800);
}

.dashboard-title {
  margin: var(--crotchet) 0;
}

.dashboard-subtitle {
  font-family: var(--font-sans);
  align-self: start;
  text-align: left;
}

/* general */
.column-form {
  width: min(320px, 100%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--crotchet);
}

.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 0.9rem;
}

/* gallery uploading */
.image-preview {
  border-radius: var(--quaver);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* avatar modal */
.not-visible {
  display: none;
}

.avatar-placeholder {
  display: flex;
  justify-content: center;
  font-family: var(--font-sans);
  font-size: 1rem;
  color: var(--gold-darker);
  padding: var(--minim);
}

.avatar-placeholder[hidden] {
  display: none;
}

/* drop down multi select */
.ddms {
  width: 100%;
}

.ddms-header {
  border-top-left-radius: var(--crotchet);
  border-top-right-radius: var(--crotchet);
  background-color: var(--fg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--quaver) var(--crotchet);
}

.ddms-header-title {
  color: var(--pink);
  font-family: var(--font-serif);
  text-transform: capitalize;
  font-style: italic;
}

.ddms-select-container {
  position: relative;
}

.ddms-select-list {
  position: absolute;
  top: 100%;
  right: 0;
  list-style: none;
  background-color: var(--fg);
  z-index: 100;
  max-height: 200px;
  overflow-y: auto;
  width: min(auto, 100px);
}

.ddms-select-button {
  width: 100%;
  background: none;
  border: none;
  color: var(--bg);
  text-align: left;
  padding: var(--crotchet);
  font-family: var(--font-sans);
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background-color: var(--fg-darker);
  }
}

.ddms-tag-container {
  display: flex;
  gap: var(--quaver);
  flex-wrap: wrap;
  padding: var(--crotchet);
  border-left: 1px solid var(--fg);
  border-right: 1px solid var(--fg);
  border-bottom: 1px solid var(--fg);
  border-bottom-right-radius: var(--crotchet);
  border-bottom-left-radius: var(--crotchet);
}

.ddms-tag {
  background-color: var(--pink);
  padding: var(--quaver) var(--crotchet);
  border-radius: var(--crotchet);
  display: flex;
  align-items: center;
  gap: var(--quaver);
}

.ddms-tag-delete-button {
  background: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  position: relative;

  &:hover {
    background-color: var(--pink-darker);
  }

  &::after,
  &::before {
    position: absolute;
    left: 4px;
    top: 50%;
    content: "";
    display: block;
    height: 0;
    width: 16px;
    border-top: 0.5px solid var(--fg);
    border-bottom: 0.5px solid var(--fg);
  }

  &::after {
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(-45deg);
  }
}

/* buttons */
.button {
  min-width: 72px;
  width: max-content;
  display: flex;
  justify-content: center;
  padding: var(--crotchet) var(--minim);
  border-radius: var(--crotchet);
  font-family: var(--font-sans);
  line-height: 1;
  font-size: 1rem;
  color: var(--grey-800);
  cursor: pointer;
  text-decoration: none;
}

.button.soft {
  border: none;
  background-color: var(--pink);
  &:hover {
    background-color: var(--pink-darker);
  }
  &:active {
    background-color: var(--pink-lighter);
  }
}

.button.subtle {
  border: none;
  background-color: var(--grey-200);
  &:hover {
    background-color: var(--grey-300);
  }
  &:active {
    background-color: var(--grey-400);
  }
}

.button.text {
  border: none;
  background-color: var(--bg);
  &:hover {
    background-color: var(--pink-lighter);
  }

  &:active {
    background-color: var(--pink);
  }
}

.button.outline {
  border: 1px solid var(--gold);
  background: none;
  color: var(--gold);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: var(--font-serif);

  &:hover {
    background-color: rgb(from var(--gold) r g b / 0.3);
  }
  &:active {
    background-color: rgb(from var(--gold) r g b / 0.6);
  }
}

.button.primary {
  border: none;
  background-color: var(--gold);
  color: var(--bg);
  &:hover {
    background-color: var(--gold-darker);
  }
}

.button.dropdown {
  min-width: 0;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--gold);
  background: none;
  color: var(--fg);

  &:hover {
    background-color: var(--bg-darker);
  }
  &:active {
    background-color: var(--bg-lighter);
  }

  &.dark {
    color: var(--bg);
    &:hover {
      background-color: var(--fg-darker);
    }
    &:active {
      background-color: var(--fg-lighter);
    }
    &::after {
      border-color: var(--bg);
    }
  }

  &::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    margin-left: var(--crotchet);
    transform: rotate(45deg);
    border-right: 1px solid var(--fg);
    border-top: 1px solid var(--fg);
    transition: all 150ms ease-in-out;
  }

  &[aria-expanded="true"] {
    &::after {
      transform: rotate(135deg);
    }
  }
}

.button.disabled {
  cursor: default;
  background-color: var(--grey-200);
  color: var(--grey-400);
  &:hover,
  &:active {
    background-color: var(--grey-200) !important;
  }
}
