/* User options/settings */
.dashboard-grid-wrapper {
  display: grid;
  padding: var(--minim);
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
}

.dashboard-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--semibreve) 0;

  /* TODO remove thise */
  border: 1px solid black;

  &.fw {
    grid-column: 1 / -1;
  }
}

.dashboard-form-section {
  display: flex;
  padding: var(--minim) 0;

  & > h2.profile-form-subtitle {
    font-family: var(--font-serif-sc);
    color: var(--gold);
    writing-mode: vertical-rl;
    text-orientation: sideways;
  }
}

.dashboard-avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid var(--grey-800);
}

.dashboard-title {
  margin-top: var(--minim);
}

.dashboard-subtitle {
  font-family: var(--font-sans);
  margin-bottom: var(--crotchet);
  align-self: start;
  text-align: left;
}

/* general */
.column-form {
  width: min(320px, 100%);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--crotchet);
}

.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 0.9rem;
}

/* gallery uploading */
.image-preview {
  border-radius: var(--quaver);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* avatar modal */
.not-visible {
  display: none;
}

.avatar-placeholder {
  display: flex;
  justify-content: center;
  font-family: var(--font-sans);
  font-size: 1rem;
  color: var(--gold-darker);
  padding: var(--minim);
}

.avatar-placeholder[hidden] {
  display: none;
}

/* inputs */
.text-input {
  width: min(100%, 320px);
  padding: var(--crotchet) var(--minim);
  border-radius: var(--crotchet);
  border: 1px solid var(--grey-200);
  outline: none;
  background-color: var(--bg);

  font-family: var(--font-sans);
  font-size: 1rem;
  color: var(--fg);

  &:focus-within {
    border-color: var(--grey-800);
  }
}

.textarea-input {
  resize: none;
  width: min(100%, 320px);
  padding: var(--crotchet) var(--minim);
  border-radius: var(--crotchet);
  border: 1px solid var(--grey-200);
  outline: none;
  background-color: var(--bg);

  font-family: var(--font-sans);
  font-size: 1rem;
  color: var(--fg);

  &:focus-within {
    border-color: var(--grey-800);
  }
}

.file-input,
.avatar-input {
  display: block;
  padding: var(--quaver) 0;

  font-family: var(--font-sans);
  font-size: 1rem;
  color: var(--fg);

  &::file-selector-button {
    padding: var(--crotchet) var(--minim);
    background-color: var(--pink);
    border: none;
    border-radius: var(--crotchet);
    line-height: 1;
    font-family: var(--sans);
    color: var(--grey-800);
    cursor: pointer;
  }
  &::file-selector-button:hover {
    background-color: var(--pink-darker);
  }
  &::file-selector-button:active {
    background-color: var(--pink-lighter);
  }
}

.avatar-input {
  width: 100%;
  border-top: 2px solid var(--gold);
  border-bottom: 2px solid var(--gold);
  margin-bottom: var(--minim);
}

/* buttons */
.button {
  min-width: 72px;
  width: max-content;
  display: flex;
  justify-content: center;
  padding: var(--crotchet) var(--minim);
  border-radius: var(--crotchet);
  font-family: var(--font-sans);
  line-height: 1;
  font-size: 1rem;
  color: var(--grey-800);
  cursor: pointer;
  text-decoration: none;
}

.button.soft {
  border: none;
  background-color: var(--pink);
  &:hover {
    background-color: var(--pink-darker);
  }
  &:active {
    background-color: var(--pink-lighter);
  }
}

.button.subtle {
  border: none;
  background-color: var(--grey-200);
  &:hover {
    background-color: var(--grey-300);
  }
  &:active {
    background-color: var(--grey-400);
  }
}

.button.text {
  border: none;
  background-color: var(--bg);
  &:hover {
    background-color: var(--pink-lighter);
  }

  &:active {
    background-color: var(--pink);
  }
}

.button.outline {
  border: 1px solid var(--gold);
  background: none;
  color: var(--gold);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: var(--font-serif);

  &:hover {
    background-color: rgb(from var(--gold) r g b / 0.3);
  }
  &:active {
    background-color: rgb(from var(--gold) r g b / 0.6);
  }
}

.button.primary {
  border: none;
  background-color: var(--gold);
  color: var(--bg);
  &:hover {
    background-color: var(--gold-darker);
  }
}

.button.disabled {
  cursor: default;
  background-color: var(--grey-200);
  color: var(--grey-400);
  &:hover,
  &:active {
    background-color: var(--grey-200) !important;
  }
}
