/* form layout */
.profile-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--crotchet);
}

.split-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--crotchet);

  & > * {
    flex: auto 1 1;
    margin: 0 auto;
  }
}

.stack {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--crotchet);
}

.column-form {
  width: min(320px, 100%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--crotchet);
}

/* form fields */
.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 0.9rem;
}


/* input styling */
.text-input {
  width: min(100%, 320px);
  padding: var(--crotchet) var(--minim);
  border-radius: var(--crotchet);
  border: 1px solid var(--grey-200);
  outline: none;
  background-color: var(--bg);

  font-family: var(--font-sans);
  font-size: 1rem;
  color: var(--fg);

  &:focus-within {
    border-color: var(--grey-800);
  }
}

.textarea-input {
  resize: none;
  width: min(100%, 320px);
  padding: var(--crotchet) var(--minim);
  border-radius: var(--crotchet);
  border: 1px solid var(--grey-200);
  outline: none;
  background-color: var(--bg);

  font-family: var(--font-sans);
  font-size: 1rem;
  color: var(--fg);

  &:focus-within {
    border-color: var(--grey-800);
  }

  &.fw {
    width: 100%;
  }
}

.file-input,
.avatar-input {
  display: block;
  padding: var(--quaver) 0;

  font-family: var(--font-sans);
  font-size: 1rem;
  color: var(--fg);

  &::file-selector-button {
    padding: var(--crotchet) var(--minim);
    background-color: var(--pink);
    border: none;
    border-radius: var(--crotchet);
    line-height: 1;
    font-family: var(--sans);
    color: var(--grey-800);
    cursor: pointer;
  }
  &::file-selector-button:hover {
    background-color: var(--pink-darker);
  }
  &::file-selector-button:active {
    background-color: var(--pink-lighter);
  }
}

.avatar-input {
  width: 100%;
  border-top: 2px solid var(--gold);
  border-bottom: 2px solid var(--gold);
  margin-bottom: var(--minim);
}

/* toggle button stuff */
.toggle-button-wrapper {
  display: flex;
  align-items: center;
  gap: var(--crotchet);
}

.toggle-checkbox {
  display: none;
}

.toggle-button {
  height: 20px;
  width: 40px;
  border-radius: 10px;
  background-color: var(--bg);
  border: 1px solid var(--fg);
  cursor: pointer;

  display: flex;
  align-items: center;
  padding: 0 1px;
}

.toggle-button::before {
  display: block;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--fg-lighter);
  transform: translateX(20px);
  transition: all 0.25s ease-in-out;
}

.toggle-button[data-toggle-btn-off]::before {
  transform: translateX(0px);
  background-color: var(--grey-300);
}

/* save indicator */
.save-indicator {
  display: block;
  background-color: var(--fg);
  padding: var(--semiquaver) var(--quaver);
  border-radius: var(--quaver);
  color: var(--bg);
  font-family: var(--font-sans);
  font-size: 0.8rem;
  font-style: italic;

  &.snug {
    margin-right: auto;
    margin-left: var(--crotchet);
    align-self: end;
  }
}

.save-indicator[hidden] {
  display: block;
  opacity: 0;
}
