/* image layout */
.image-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: auto;
  gap: var(--crotchet);
}

/* image loading */
.image-wrapper-square {
  aspect-ratio: 1 / 1;
  width: 100%;
  overflow: hidden;

  & > img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.image-wrapper-fullsize {
  height: 100%;
  width: 100%;
  & > img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: contain;
  }
}

.image-placeholder {
  background-color: var(--grey-200);
  height: 100%;
  width: 100%;
}

/* artist gallery */
.editable-image-button {
  background: none;
  border: none;
  padding: none;

  cursor: pointer;
}
