body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-register,
.form-login {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 8px;
  border: 1px solid black;
}

.flash {
  position: fixed;
  right: 16px;
  bottom: 16px;
  padding: 8px;
  min-width: 64px;
  max-width: 250px;
  color: white;
  transition: right 0.5s ease-in;

  display: flex;
  justify-content: space-between;
  gap: 16px;

  &.info {
    background-color: green;
    .flash-close {
      background-color: green;
      &:hover {
        background-color: darkgreen;
      }
    }
  }
  &.error {
    background-color: red;
    .flash-close {
      background-color: red;
      &:hover {
        background-color: darkred;
      }
    }
  }

  &.removed {
    right: -500px;
  }

  .flash-close {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: relative;
    border: none;
    cursor: pointer;

    &::after,
    &::before {
      content: " ";
      display: block;
      height: 16px;
      width: 2px;
      background-color: white;
      position: absolute;
      left: 11px;
      top: 4px;
    }

    &:after {
      transform: rotate(45deg);
    }
    &:before {
      transform: rotate(-45deg);
    }
  }
}
